html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body{
    background-color: #0c0c1d;
    color:lightgray;
}

a{
    text-decoration: none;
    color: inherit;
}


section{
    height: 100vh;
    scroll-snap-align: center;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // font-size: 3rem;
    // font-weight: bold;
    // border-bottom: 2px solid #000;
}

@mixin mobile {
    @media (max-width: 738px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: 1366px) {
        @content;
    }
}

// Couleurs
$primary-indigo: #1e1b4b; // Indigo-900
$accent-blue: #4f46e5;    // Indigo-600
$action-green: #22c55e;   // Green-500
$soft-bg: #f8fafc;        // Slate-50
$white: #ffffff;

// Breakpoints
$tablet: 768px;
$desktop: 1024px;

// Mixins Responsive
@mixin mobile { @media (max-width: #{$tablet - 1px}) { @content; } }
@mixin tablet { @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1px}) { @content; } }
@mixin desktop { @media (min-width: #{$desktop}) { @content; } }